rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Chat Messages Rules
    match /messages/{messageId} {
      allow read, write: if request.auth != null;
    }

    // Blog System Rules
    match /blogs/{blogId} {
      // Public: Anyone can read
      allow read: if true;
      
      // Restricted: Only users with @lemhand.com email can create, update, delete
      allow create, update, delete: if request.auth != null && request.auth.token.email.matches('.*@lemhand.com');
    }

    // LAS Clients Rules
    match /las_clients/{clientId} {
      allow read: if true;
    }

    // Homepage Settings Rules
    match /settings/{document} {
      // Anyone can read the homepage config
      allow read: if true;
      // Only LemHand employees can edit the config
      allow write: if request.auth != null && request.auth.token.email.matches('.*@lemhand.com');
    }

    // Office Suite Collaboration Rules
    match /office/{document} {
      allow read, write: if true; // Allow anyone to collaborate for the demo
    }

    // Bug Reports Rules
    match /bugs/{bugId} {
      // Anyone can create a bug report
      allow create: if true;
      // Only LemHand employees can read, update, or delete bug reports
      allow read, update, delete: if request.auth != null && request.auth.token.email.matches('.*@lemhand.com');
    }
  }
}